body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
}

* {
  -webkit-font-smoothing: antialiased;
}

.container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.center {
  text-align: center;
}

a + a {
  margin-left: 1rem;
}

.back-top-left {
  font-size: 1.5rem;
  text-decoration: none;
  position: absolute;
  top: 1em;
  left: 1em;
}
