:root {
  --primary-color-rgb: 135, 109, 228;
  --primary-color: rgb(var(--primary-color-rgb));
}

.coves .hero {
  background-image: url(../images/coves/hero-bg.png);
}

.coves .hero-bg-blur {
  /* 渐变裁剪 */
  mask-image: linear-gradient(to right,
      black 0%,
      black 45%,
      transparent 75%);

  -webkit-mask-image: linear-gradient(to right,
      black 0%,
      black 45%,
      transparent 75%);
}

.coves .hero-bg-gradient {
  background: linear-gradient(to right,
      rgba(255, 255, 255, 1) 45%,
      rgba(255, 255, 255, 0.8) 60%,
      rgba(255, 255, 255, 0) 90%);
}

@media (max-width: 768px) {
  .coves .hero-bg-gradient {
    background: linear-gradient(to right,
        rgba(255, 255, 255, 1) 45%,
        rgba(255, 255, 255, 0.8) 60%,
        rgba(255, 255, 255, 0.6) 90%);
  }
}