.apps {
  margin-inline: auto;
  display: flex;
  justify-content: center;
  row-gap: 40px;
  column-gap: 60px;
  flex-wrap: wrap;
  max-width: 1000px;
  padding-inline: 1rem;
}

.apps a {
  text-decoration: none;
  color: black;
}

.apps img {
  box-shadow: rgba(128, 128, 128, 0.3) 0 0 30px 10px;
  border-radius: 40px;
  margin-bottom: 20px;
  width: 180px;
  height: auto;
  transition: transform 0.2s;
}

.apps a[href]:hover img {
  transform: scale(1.05);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.contact {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.contact a {
  font-size: 1rem;
}

@media (max-width: 768px) {
  .apps {
    flex-direction: column;
    align-items: center;
    gap: 10vh;
  }
}