.apps {
  margin-inline: auto;
  display: flex;
  justify-content: center;
  row-gap: 40px;
  column-gap: 60px;
  flex-wrap: wrap;
  max-width: 1000px;
  padding-inline: 1rem;
  padding-block: 2rem;
}

.apps a {
  text-decoration: none;
  color: black;
}

.apps .app-icon {
  width: 180px;
  aspect-ratio: 1/1;
  border-radius: 40px;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: rgba(128, 128, 128, 0.3) 0 0 30px 10px;
  transition: transform 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.apps a[href]:hover .app-icon {
  transform: scale(1.05);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.contact {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.contact a {
  font-size: 1rem;
}

@media (max-width: 768px) {
  .apps {
    flex-direction: column;
    align-items: center;
    gap: 10vh;
  }
}